{% extends 'base.html.twig' %}
{% import "macros.html.twig" as macros %}

{% block body %}
    <div class="container">
        <h1>
            Menu
            <a class="btn btn-default btn-sm" href="{{ path('new_menu_item', {'restaurantId': restaurant_id}) }}">New</a>
        </h1>
        <div>
            {% if menu_items %}
                <h2>Appetizers</h2>
                <ul class="list-group">
                {%  for item in menu_items %}
                    {% if item.course|lower == "appetizer" %}
                    <li class="list-group-item">
                        {{ macros.build_item(item, restaurant_id) }}
                    </li>
                    {%  endif %}
                {% endfor %}
                </ul>

                <h2>Entrees</h2>
                <ul class="list-group">
                    {%  for item in menu_items %}
                        {% if item.course|lower == "entree" %}
                            <li class="list-group-item">
                                {{ macros.build_item(item, restaurant_id) }}
                            </li>
                        {%  endif %}
                    {% endfor %}
                </ul>

                <h2>Main</h2>
                <ul class="list-group">
                    {%  for item in menu_items %}
                        {% if item.course|lower == "main" %}
                            <li class="list-group-item">
                                {{ macros.build_item(item, restaurant_id) }}
                            </li>
                        {%  endif %}
                    {% endfor %}
                </ul>

                <h2>Desserts</h2>
                <ul class="list-group">
                    {%  for item in menu_items %}
                        {% if item.course|lower == "dessert" %}
                            <li class="list-group-item">
                                {{ macros.build_item(item, restaurant_id) }}
                            </li>
                        {%  endif %}
                    {% endfor %}
                </ul>

                <h2>Beverages</h2>
                <ul class="list-group">
                    {%  for item in menu_items %}
                        {% if item.course|lower == "beverage" %}
                            <li class="list-group-item">
                                {{ macros.build_item(item, restaurant_id) }}
                            </li>
                        {%  endif %}
                    {% endfor %}
                </ul>

            {% endif %}
        </div>
    </div>
{% endblock %}